body {
    /* set background image */
    /*background-image: url('../imgs/img.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/

    max-width: 100%;
    overflow: hidden;
}

.background-video {
    visibility: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}

.heatmap-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.heatmap {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    position: relative;
}

#target {
    position: relative;
}